{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">
      <h1>Contact Us</h1>
        <h2>Be bold. Be fearless. Discover the power of beauty.</h2>

        <p>To learn more about Fearless Beauty and to contribute donations or tools for our vocational program, please contact us at <a>info@fearlessbeauty.org</a></p>
    </div>
{% endblock %}

