{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody" id="content-graduates">

        <h2>Please meet some of our graduates:</h2>
        
        <div class="col-xs-6">
            <h2>Deepa</h2>
            <img src="http://lorempixel.com/g/200/100/food/" class="pull-left" /> <p> Deepa, a very brave girl, understands and speaks English, and we often turn to her for help with translation.  Within the first week, Deepa was given the name “Drama Queen” by one of the other girls and as time went on, we all learned just how fitting the name is. She is always late, never on time, and her entrance is always filled with drama.  By the end of our second month together, we were all laughing hysterically as Deepa would run into class 20 minutes late, out of breath and panting, causing a big scene with all kinds of excuses.  All drama aside, she is a great student.  She shows up everyday, works hard, takes direction and correction with grace, and she is dedicated to grasping the techniques.</p>
        </div>
        
        <div class="col-xs-6">
            <h2>Sheela</h2>
            <img src="http://lorempixel.com/g/200/100/sports/" class="pull-left" /> <p>Sheela stands out as not only a student who understands English, but as a person who has “the hands” for hair.  With this combination and her gentle yet confident personality, Sheela, eagerly stepped in to assist with the translation and demonstration of techniques.  She always shows up to class on time, works hard, and diligently masters the techniques.  She is the kind of student that every teacher loves to have in class.</p>
        </div>

        <div class="col-xs-6">
            <h2>Anju</h2>
            <img src="http://lorempixel.com/g/200/100/animals/" class="pull-left" /> <p>Anju is an absolute natural when it comes to hair.  She needs only to see and hear a technique done once, and she effortlessly picks it up.  Even more beautiful to watch is her innately humble personality and sweet shyness.  Although she excels at each technique that her hands attempt, she quietly, with rosy cheeks and a twinkle in her eye, accepts praise with sincere gratitude. </p>
        </div>

        <div class="col-xs-6">
            <h2>Laxmi</h2>
            <img src="http://lorempixel.com/g/200/100/animals/" class="pull-left" /> <p>Laxmi is sweet, shy, and works very hard.  Her hands have a natural affinity for hair yet it takes practice for her to master the techniques. Tears come easily for Laxmi and through our classes she has shown that she can have a sweet, open, kind heart, but also cultivate confidence to support that sweetness.</p>
        </div>

        <div class="col-xs-6">
            <h2>Sonam</h2>
            <img src="http://lorempixel.com/g/200/100/people/" class="pull-left" /> <p>Sonam works diligently to learn the techniques.  With dedicated practice and focus we saw Sonam shift not only with regards to the haircutting skills, but in confidence and ease. There is not an ounce of neediness in Sonam yet she welcomes attention every step of the way.  When we are with her, she lights up, and fully engages and enjoys one on one coaching.</p>
        </div>

        <div class="col-xs-6">
            <p>See interviews with more of our students on our <a href="https://www.youtube.com/channel/UCTL0-B7GL1wQfcAP2bepTig" target="_blank">Youtube channel</a>.</p>
        </div>



    </div>
{% endblock %}

