{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
    <script type="text/javascript" src="js/views/index.js"></script>
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container" id="home-header">
        <div id="logo-main"></div>
        <div id="home-info"><button class="btn btn-lg btn-success pull-right"><span class="glyphicon glyphicon-gift"></span> Donate</button> Teaching fundamental skills in one of the great crafts empowers people.<br /> When those people are underprivileged women, it has the power to change their lives.</div>
    </div>
    <div class="container contentBody">
        <div class="col-xs-6">
            <h1>Our Blog</h1>
            <p>A vehicula nibh parturient id a a blandit hac lobortis urna montes dolor nunc praesent nulla. Ad a dui etiam dui parturient elementum laoreet odio rhoncus a adipiscing sociis diam nunc feugiat netus nullam dictum. Suspendisse augue quis parturient a adipiscing tellus cum ligula accumsan eros lacus dis magna volutpat sed imperdiet conubia class ultrices cras. Et a dapibus parturient a a hac scelerisque ligula consectetur scelerisque natoque sit tincidunt suspendisse varius laoreet posuere.</p> 
            <p>Congue a a vestibulum curae class suspendisse a suscipit condimentum libero placerat mauris lorem dis est a sed scelerisque laoreet cum gravida at lacus a ac. Rhoncus ut posuere in adipiscing metus et maecenas proin a mi adipiscing condimentum potenti nascetur cras venenatis ridiculus odio arcu vestibulum orci cum. Et adipiscing aenean imperdiet ligula et enim vitae congue eu in vehicula ac viverra tincidunt odio nunc. Fringilla nunc a porttitor pulvinar quisque netus a ullamcorper mus habitant placerat fusce scelerisque gravida ad curae suspendisse phasellus ut volutpat a diam dis faucibus. Tellus a sociis ultrices eros convallis vestibulum platea feugiat odio ullamcorper condimentum suscipit a vestibulum a vulputate id euismod ullamcorper commodo id interdum a per conubia consectetur.</p>
        </div>
        <div class="col-xs-6">
            <h1>Interviews</h1>
            <p>
                A consequat a et velit facilisi curae vulputate porttitor a dictumst aptent donec a mi ultricies scelerisque nascetur vulputate cubilia accumsan netus gravida ut feugiat ultricies in arcu ac. Vestibulum eleifend id commodo habitasse curae parturient placerat adipiscing himenaeos rhoncus a adipiscing ut ullamcorper penatibus est ad vestibulum a ullamcorper a nec dictumst curae nostra. Dignissim potenti interdum rhoncus vestibulum imperdiet inceptos consectetur sem ullamcorper in vestibulum potenti ad potenti curae malesuada vivamus parturient taciti dis.</p> 
            <p>
Inceptos mi ut eu dolor mus ullamcorper sagittis a ridiculus condimentum pulvinar torquent ullamcorper faucibus lacus eu vestibulum consequat a gravida nisi id nibh nulla. Blandit hendrerit nascetur et natoque quam parturient nibh a id risus ullamcorper a ullamcorper auctor rutrum convallis porttitor praesent diam semper inceptos eu id rutrum cras diam. Condimentum dui a nec non consectetur posuere est lobortis vestibulum arcu nunc dictumst a vestibulum urna arcu eros cubilia odio vestibulum eros vestibulum vel nisi.
            </p>
        </div>
    </div>
{% endblock %}

