{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
    <script type="text/javascript" src="js/views/index.js"></script>
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container" id="home-header">
        <div id="logo-main"></div>
        <div id="home-info"><button class="btn btn-lg btn-success pull-right"><span class="glyphicon glyphicon-gift"></span> Donate</button> Teaching fundamental skills in one of the great crafts empowers people.<br /> When those people are underprivileged women, it has the power to change their lives.</div>
    </div>
    <div class="container contentBody">
        <div class="col-xs-6">
            <h1>Our Blog</h1>
        </div>
        <div class="col-xs-6">
            <h1>Interviews</h1>
        </div>
    </div>
{% endblock %}

