{% extends 'layout-under-construction.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">
      <h1>Under Construction</h1>
        <h2>Sit tight.</h2>

        <p>The website is under construction and will be back on Monday, October 26, 2015</p>
    </div>
{% endblock %}

