body {
    width: 792px;
    margin: 72px;
    text-shadow: 1px 2px 4px rgba(0,0,0, 0.18);
    font-family: 'Oxygen', sans-serif;
}
a {
    color: #0055CC;
}
section {
    margin: 50px 0px 0px 50px;
}

ul.indent {
    margin-left: 25px;
}
li {
    margin-top: 10px;
}