
/** Default settings for 1280px+ displays */
body {
    color: white;
    margin-bottom: 100px;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    background-color: #d10841;
    /*background-color: #444;*/
    font-family: 'Magra', sans-serif;
}
.container {
    padding: 0;
}
.container.contentBody {
    min-height: 500px;
    background-color: white;
    color: #444;
    padding: 0px 43px 0px 43px;
}
ul.nav {
    float:right;
}
ul.nav button {
    margin-top: 10px;
}
h1,h2,h3,h4,h5 {
    font-family: 'Neuton', serif;
    font-weight: bold;
    color: #5FAD56;
}

@media screen and (min-width:1200px) {
    #home-header {
        width: 1170px;
        height: 779px;
        background-image: url('../img/1200/home.header.background.jpg');
        /*background-image: url('http://lorempixel.com/g/1170/779/food/');*/
        background-repeat: no-repeat;
        padding: 0px 43px 0px 43px;
    }
    #home-info {
        padding:10px;
        background-color: rgba(0,0,0,0.5);
        font-size: 24px;
        margin-top: 390px;
        border-radius: 10px;
        border-top: 1px inset #ccc;
        border-bottom: 1px inset #444;
        border-left: 1px inset #aaa;
        border-right: 1px inset #aaa;
        box-shadow: 10px 10px 25px -9px rgba(0,0,0,0.75);
    }
    #logo-main {
        margin: 17px 0px 0px 0px;
        width: 679px;
        height: 243px;
        background-image: url('../img/1200/logo-main.png');
        background-repeat: no-repeat;
    }
    #logo-mini {
        margin-right: 5px;
        width: 30px;
        height: 40px;
    }
    #logo-mini img {
        margin: 5px 0px 0px 0px;
        vertical-align: middle;
    }
}