/** Default settings for 1280px+ displays */
body {
    text-align: center;
    padding:0px;
    margin:0px;
}
section {
    text-align:left;
    padding:5px 20px 5px 20px;
    width: 1200px;
}
.body-content {
    display:inline-block;
}

/** Responsive */
@media screen and (min-width:0px) {
    section {
        max-width: 300px;
        background-color: #aaa;
    }
    .body-content {
        max-width: 320px;
    }
}

@media screen and (min-width:640px) {
    section {
        max-width: 600px;
        background-color: #bbb;
    }
    .body-content {
        max-width: 640px;
    }
}

@media screen and (min-width:960px) {
    section {
        max-width: 900px;
        background-color: #ccc;
    }
    .body-content {
        max-width: 960px;
    }
}

@media screen and (min-width:1280px) {
    section {
        max-width: 1200px;
        background-color: #eee;
    }
    .body-content {
        max-width: 1280px;
    }
}

